body {
    text-align: center;
}

#short {
    height: 200px;
    width: 20%;
}

#long {
    height: 400px;
    width: 20%;
}

#short:hover {
    height: 20%;
    width: 18%;
}

#long:hover {
    height: 20%;
    width: 18%;
}

#main {
    width: 800px;
}

#main:hover{
    width: 700px;
}

#carousel-indicator{
padding-left: 50%;
 
}

